@charset "UTF-8";
/*_elements.scss*/

@media screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 13px;
  }
}

.form-group label {
  font-size: .8rem;
}

.chkCard {
  display: none;
}

$btn3dHeight:0.3rem;
$cardHeight:6rem;
.card {
  background: rgb(214, 233, 255);
  box-shadow: 0 -1 * $btn3dHeight rgba(0, 0, 0, 0.2) inset;
  height: $cardHeight;
  transition: 0.1s ease-in-out;
  width: 100%;

  .chkCard:checked + & {
    background: #FF9;
    box-shadow: none;
    height: $cardHeight - $btn3dHeight;
    transform: translateY($btn3dHeight);//下に動く
  }
}
