/*_elements.scss*/
@media screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 13px;
  }
}

.form-group label {
  font-size: .8rem;
}

.chkCard {
  display: none;
}

.card {
  background: #d6e9ff;
  -webkit-box-shadow: 0 -0.3rem rgba(0, 0, 0, 0.2) inset, 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 -0.3rem rgba(0, 0, 0, 0.2) inset, 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2);
  height: 6rem;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  width: 100%;
}

.chkCard:checked + .card {
  background: #FF9;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 5.7rem;
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}
