@charset "UTF-8";
/*_elements.scss*/
@media screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 13px;
  }
}

.form-group label {
  font-size: .8rem;
}

.chkCard {
  display: none;
}

.card {
  background: #d6e9ff;
  -webkit-box-shadow: 0 -0.2rem rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 -0.2rem rgba(0, 0, 0, 0.2) inset;
  width: 100%;
}

.chkCard:checked + .card {
  background: #FF9;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  /*下に動く*/
}
